# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
#

#.gitignore
*.[ao]
*~

# database
*.db

# other
*.ico
*.png
*.jpg
*.jpeg

# paths
gnuc/bin/
gnuc/lib/
golang/bin/
bak_config/
