{# filename: login.html #}
{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body1 %}
 {% if form.errors %}
   <p class="error">sorry, that's not a valid username or password</p>
 {% endif %}

 {% if next %}
    <p>{{ next }}</p>
 {% endif %}
 <form action="/login_auth/" method="post"  onSubmit="return js_try()" >{% csrf_token %}
   <label for="username">User name:</label>
   <input type="text" name="username" value="" id="username">
   <br/>
   <br/>
   <label for="password">Password:</label>
   <input type="password" name="password" value="" id="password">
   <br/>
   <br/>
   <input type="submit" value="login"/>
   <input type="hidden" name="next" value="{{next|escape}}"/>
 </form>

{% endblock %}
